* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: aquamarine;
  font-size: xx-large;
}
